# -*- mode:yaml -*-

cacti:
  lookup:
    cacti_packages:
      - cacti
      - cacti-spine
    snmp_packages:
      - snmp
      - snmp-mibs-downloader
    local_cacti_path: /usr/local/share/cacti
    path: /usr/share/cacti
    server_name: _
