# -*- mode:yaml -*-

cacti:
  # nginx server name
  server_name: _
  lookup:
    cacti:
      - cacti
      - cacti-spine
    snmp:
      - snmp
      - snmp-mibs-downloader
    nginx:
      - nginx
      - php5-fpm
    # where the packages manager installs cacti
    path: /usr/share/cacti
    # where to put plugins
    local_path: /usr/local/share/cacti
