{% set cacti = salt['grains.filter_by']({
  'default' : {
    'packages': ['cacti', 'cacti-spine', 'snmp-mibs-downloader'],
    'local_cacti_path': '/usr/local/share/cacti',
    'path': '/usr/share/cacti'
  }
}, merge=salt['pillar.get']('cacti:lookup'), default='default') %}
